.frontSide {
  width: 447px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 64px;
}
.image {
  max-width: auto;
}
.ovals {
  width: 84px;
  height: 47px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.name {
  display: flex;
  justify-content: space-between;
  flex: 1rem;
}
.numbers > h1 {
  letter-spacing: 3.422px;
}
.backSide {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 23px;
  max-width: 447px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(169deg, #fff 5%, #d2d3d9 91.69%);
}
.blackline {
  max-width: 447px;
  height: 54px;
  flex-shrink: 0;
  background: #2f2f2f;
}
.cvv {
  width: 100%;
  height: 100%;
  max-width: 320px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #adb5be;
  text-align: end;
  padding: 10px;
  margin-left: 30px;
  color: var(--White, #fff);
  text-align: right;
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Body (L) */
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.linesdiv {
  margin-left: 90px;
  max-width: 186px;
}
.liness {
  width: 100%;
}
.card-sides {
  flex-direction: column;
  gap: 37px;
  display: flex;
  width: 450px;
  position: relative;
}
.cardnums {
  color: var(--White, #fff);
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Heading (XL) */
  font-family: "Space Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.422px;
}
.name {
  color: var(--White, #fff);
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Body (L) */
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.valid {
  color: var(--White, #fff);
  text-align: right;
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Body (L) */
  font-family: "Space Grotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.secondside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.secondside > div {
  display: flex;
  flex-direction: column;
}
.cvc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.two {
  display: flex;
  flex-direction: row;
}
.dates {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rame {
  display: flex;
  gap: 10px;
}
.values {
  display: flex;
  justify-content: space-between;
}
.input-error {
  border: 2px solid red;
}

input {
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.thankyoudiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
}
.markdiv {
  max-width: auto;
}
.markdiv > img {
  width: 100%;
}
.feed {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.btn2 {
  cursor: pointer;
  width: 381px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Deep-Violet, #21092f);
  color: var(--White, #fff);
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Heading (L) */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feed > span {
  color: var(--Purplish-Grey, #8f8694);
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Heading (L) */
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feed > h1 {
  color: var(--Deep-Violet, #21092f);
  text-align: center;
  font-feature-settings:
    "liga" off,
    "clig" off;

  /* Heading (XL) */
  font-family: "Space Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.422px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.firstcolor {
  width: 71px;
  height: 263px;
  transform: rotate(45deg);
  flex-shrink: 0;
  border-radius: 363px;
  opacity: 0.5;
  background: #d53aff;
  filter: blur(40px);
}
@media screen and (max-width: 929px) {
  .card-sides {
    flex-direction: column;
    position: absolute;
    top: 10px;
    flex-direction: column-reverse;
  }
  .frontSide {
    position: absolute;
    top: 170px;
  }
  .secondside {
    position: absolute;
    top: 500px;
    left: 250px;
  }
}
@media screen and (max-width: 810px) {
  .secondside {
    position: absolute;
    left: 200px;
  }
}
@media screen and (max-width: 736px) {
  .secondside {
    position: absolute;
    left: 150px;
  }
}
@media screen and (max-width: 628px) {
  .secondside {
    position: absolute;
    left: 100px;
  }
}
@media screen and (max-width: 523px) {
  .card-sides {
    flex-direction: column;
    position: absolute;
    top: 100px;
    flex-direction: column-reverse;
  }
  .frontSide {
    position: absolute;
    top: 170px;
  }
  .secondside {
    position: absolute;
    left: 50px;
    top: 600px;
  }
}
@media screen and (max-width: 390px) {
  .frontSide {
    width: 100%;
    max-width: 390px;
    text-wrap: nowrap;
    left: 30px;
  }
  .backSide {
    max-width: 370px;
    text-wrap: nowrap;
    left: 1px;
  }
  .numbers {
    width: 100%;
  }
  .cardnums {
    letter-spacing: 0px;
  }
  .secondside {
    left: 1px;
  }
}
